---
dist: trusty
sudo: required

language: python
python: "2.7"

before_install:
  - sudo apt-get update -qq

install:
  - pip install ansible
  - printf '[defaults]\nroles_path = ../' > ansible.cfg

script:
  # 1/ Check the role syntax:
  - ansible-playbook -i tests/inventory tests/test.yml --syntax-check
  # 2/ Check first run:
  - ansible-playbook -i tests/inventory tests/test.yml --connection=local --become
  # 3/ Check idempotence:
  - >
    ansible-playbook -i tests/inventory tests/test.yml --connection=local --become
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)
  # 4/ Check resulting file
  # FIXME

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
...
